@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #eee;
  padding: 0 20px;
}

::selection {
  color: #fff;
  background: #664AFF;
}

.wrapper {
  max-width: 450px;
  margin: 150px auto;
}

.wrapper .search-input {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.autocom-box li.selected {
  background: #efefef;
}

.search-input.active .autocom-box li {
  display: block;
}

.autocom-box li:hover {
  background: #efefef;
}

.search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}

.results {
  max-width: 768px;
  margin: 0 auto;
}

.result {
  width: 100%;
  padding: 16px;
  margin: 16px 0;
  background-color: #fff;
  border-radius: 14px;
  transition: all 0.3s ease;
  word-wrap: break-word;
  height: auto;
}

.result:hover {
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

.result h3 {
  color: #616161;
  font-size: 28px;
  margin-bottom: 16px;
}

.result p {
  color: #313131;
  font-size: 18px;
  margin-bottom: 16px;
  /* text-wrap: wrap; */
  /* overflow: hidden; */
}

.result a {
  display: inline-block;
  padding: 12px;
  width: 100%;
  background-color: #5c6bc0;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.result a:hover {
  background-color: #3949ab;
}

@media (max-width: 350px) {
  .search-input input {
    height: 40px;
    font-size: 14px;
  }

  .search-input .icon {
    font-size: 14px;
    line-height: 44px;
  }

  .result h3 {
    font-size: 22px;
  }

  .result p {
    font-size: 14px;
  }

  .result a {
    font-size: 14px;
  }
}